
<div class="row gray-bg">

    <div id="tm-section-2" class="tm-section">

        <div class="tm-container tm-container-wide">
            <div class="tm-news-item">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-news-item-img-container">
                    @*<img src="img/tm-600x300-01.jpg" alt="Image1" class="img-fluid tm-news-item-img">*@
                    <img src="~/Content/mytemplate/pinzoe_img/Wedding.png" alt="wedding" class="img-fluid tm-news-item-img" />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-news-container">
                    <h2 class="tm-news-title dark-gray-text">婚禮禮盒</h2>
                    <p class="tm-news-text">Intro Texts.</p>
                    @Html.ActionLink("開始組合", "Index", "Plans", null, new { @class = "btn tm-light-blue-bordered-btn tm-news-link" })
                </div>
            </div>

            <div class="tm-news-item">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 flex-order-2 tm-news-item-img-container">
                    @*<img src="img/tm-600x300-02.jpg" alt="Image2" class="img-fluid tm-news-item-img">*@
                    <img src="~/Content/mytemplate/pinzoe_img/Moon.png" alt="Image2" class="img-fluid tm-news-item-img" />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-news-container flex-order-1">
                    <h2 class="tm-news-title dark-gray-text">彌月禮盒</h2>
                    <p class="tm-news-text">Intro Texts.</p>
                    @Html.ActionLink("開始組合", "Index", "Plans", null, new { @class = "btn tm-light-blue-bordered-btn tm-news-link" })

                </div>
            </div>
            @*<div class="tm-news-item">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-news-item-img-container">
                        <img src="img/tm-600x300-03.jpg" alt="Image3" class="img-fluid tm-news-item-img">
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-news-container">
                        <h2 class="tm-news-title dark-gray-text">Nulla molestie euismod</h2>
                        <p class="tm-news-text">Credit goes to <a rel="nofollow" href="http://unsplash.com" target="_parent">Unsplash</a> for images used in this website template. Nulla sit amet tristique lacus. Etiam blandit ex vitae mauris gravida.</p>
                        <a href="#" class="btn tm-light-blue-bordered-btn tm-news-link">Read</a>
                    </div>
                </div>*@
        </div>
    </div>

</div> <!-- row -->